@use "global" as *;  

.footer-layout {
  margin-top: rem(90);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.footer-layout.footer-layout--page404 {
  margin-top: 0;
  padding-top: rem(90);
  @include mq(md) {
    padding-top: rem(160);
  }
}