@use 'global' as *; 

.voice {
  position: relative;
}

.voice::before {
  @include mq(md) {
    content: "";
    background-image: url(../images/common/voice__fish.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: rem(300);
    height: rem(138);
    position: absolute;
    top: rem(-125);
    left: calc(50% - min(48%, rem(620)));
  }
}

.voice::after {
  @include mq(md) {
    content: "";
    background-image: url(../images/common/voice__seahorse.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: rem(71);
    height: rem(162);
    position: absolute;
    top: rem(624);
    right: calc(50% - min(48%, rem(640)));
  }
}


.voice__inner {
  max-width: rem(600);
  width: 100%;  
}

.voice__card {
  margin-top: rem(40);
  @include mq(md) {
    max-width: rem(520);
    width: 100%;
    margin-top: 0;
  }
}

.voice__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

