@use 'global' as *; 

.about-us {
  margin-top: 5rem;
  margin-bottom: 4.375rem;
  @include mq(md) {
    margin-top: 9rem;
    margin-bottom: 12.1875rem;
  }
}

// .about-us__title {
//   // margin-bottom: 1.5rem;
// }

.about-us__img {
  
  display: flex;
  position: relative;
  margin-top: 2.5rem;
}

.about-us__img-left {
  // max-width: 8rem;
  width: 37%;
   object-fit: cover;
   aspect-ratio: 128 / 194;
   z-index: 1000;
  @include mq(md) {
   max-width: 25rem;
  }

}

.about-us__img-right {
  // max-width: 17.5625rem;
  width: 81%;
  // height: 100%;
  object-fit: cover;
  aspect-ratio: 281 / 186;
  position: absolute;
  left: 4rem;
  top: 1.5rem;
  @include mq(md) {
    // max-width: 55rem;
    // height: 36.25rem;
    position: absolute;
    top: 5rem;
    left: 12.5rem;
  }
}


.about-us__block {
  position: relative;
  z-index: 1000;
  margin-top: 3.625rem;
  @include mq(md) {
    margin-top: 0;
  }
}
.about-us__block-inner {
  text-align: left;
  @include mq(md) {
    display: flex;
    position: absolute;
    top: -25.4rem;
    left: 12.45rem;
    max-width: 52.5rem;
    width: 100%;
    gap: 2.5rem;
  }
}

.about-us__top-title {
  font-size: 2.5rem;
  color: #408F95;
  font-family: $en-family;
  line-height: 1;
  font-weight: $regular;
  @include mq(md) {
    font-size: 5rem;
    color: #fff;
    line-height: 1.25;
    max-width: 27rem;
    width: 400px;
  }
}
.about-us__text {
  margin-top: 1rem; 
  @include mq(md) {
    margin-top: 0;
  }
}
.about-us__text-block {
  @include mq(md) {
    line-height: 1.5;
    max-width: 25rem;
    width: 100%;
    color: #fff;
  }
}

.about-us__btn { 
  margin-top: 3.125rem;
  @include mq(md) {
    margin-top: 2.5rem;    
  }
}

.about-us__coral-img {
  position: relative;
}
.coral-img {
  display: none;
  @include mq(md) {
    display: block;
    width: 194px;
    height: 181px;
    position: absolute;
    top: -2.3rem;
    left: 61.5rem;
  }
}

