@use 'global' as *; 

.about-us {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(144);
  }
}

.about-us__inner {
  max-width: rem(600);
  width: 100%;
  // margin: 0 auto;
}

.about-us__img {
  display: flex;
  position: relative;
  margin-top: rem(32);
  @include mq(md) {
  margin-top: rem(40);
  }

}

.about-us__img-left {
  // max-width: 8rem;
   width: 37%;
   object-fit: cover;
   aspect-ratio: 128 / 194;
   z-index: 1000;
  @include mq(md) {

  }

}

.about-us__img-right {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 281 / 186;
  text-align: ;
  // position: absolute;
  // left: rem(64);
  // top: rem(24);
  @include mq(md) {
    // max-width: 55rem;
    // height: 36.25rem;
    // position: absolute;
    // top: rem(80);
    // left: rem(200);
  }
}


.about-us__block {
  position: relative;
  z-index: 1000;
  margin-top: rem(58);
  @include mq(md) {
    margin-top: 0;
  }
}
.about-us__block-inner {
  text-align: left;
  @include mq(md) {
    display: flex;
    position: absolute;
    top: -25.4rem;
    left: calc(50% - min(50%, 450px));
    max-width: 52.5rem;
    width: 100%;
    gap: 2.5rem;
  }
}

.about-us__top-title {
  font-size: 2.5rem;
  color: #408F95;
  font-family: $en-family;
  line-height: 1;
  font-weight: $regular;
  @include mq(md) {
    font-size: 5rem;
    color: #fff;
    line-height: 1.25;
    max-width: 27rem;
    width: 400px;
  }
}
.about-us__text {
  margin-top: 1rem; 
  @include mq(md) {
    margin-top: 0;
  }
}
.about-us__text-block {
  @include mq(md) {
    line-height: 1.5;
    max-width: 25rem;
    width: 100%;
    color: #fff;
  }
}

.about-us__btn { 
    margin-top: 2.5rem;    
}

.about-us__coral-img {
  position: relative;
}
.coral-img {
  display: none;
  @include mq(md) {
    display: block;
    width: 194px;
    height: 181px;
    position: absolute;
    top: -32px;
    // right: min(50%, 5%);
    right: calc(50% - min(50%, 640px));
  }
}

