@use "global" as *;

.details-summary {
	cursor: pointer;
	transition: 0.2s;
	padding: 6px;
	border-radius: 6px;
	font-size: 20px;

	/* ホバー時のスタイル */
	&:hover {
		cursor: pointer;
		background-color: #bee1de;
	}

	/* タブフォーカス時のスタイル */
	&:focus-visible {
		outline: dashed #00a5a0;
	}
}
