@use "global" as *;

// .details-summary {
// 	cursor: pointer;
// 	transition: 0.2s;
// 	padding: 6px;
// 	border-radius: 6px;
// 	font-size: 20px;

// 	/* ホバー時のスタイル */
// 	&:hover {
// 		cursor: pointer;
// 		background-color: #bee1de;
// 	}

// 	/* タブフォーカス時のスタイル */
// 	&:focus-visible {
// 		outline: dashed #00a5a0;
// 	}
// }


.accordion .inner{
  display: none;
}
 
.accordion p{
  position: relative;
  cursor: pointer;
}
 
.accordion p::before {
  position: absolute;
  top: -50%;
  left: 0;
  content: '';
  width:50px;
  height:50px;
  line-height:50px;
  color: #fff;
  text-align: center;
  transition: all 0.4s;
}
 
.accordion p.xmark:before {
    content: '×';
}