@use 'global' as *; 

.blog {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include mq(md) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    background-image: url(../../assets/images/common/blog_back-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // height: 31.25rem;
  }
}

.blog::before {
  content: "";
}

.blog__inner {
  @include mq(md) {

  }
}

.blog__items {
  display: block;
   @include mq(md) {

    display: flex;
    gap: 3rem;
    margin-top: 5rem;
  }
}
.blog__item {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  margin-top: 1.5rem;
  padding: 1rem;
 @include mq(md){
  width: 100%;
  max-width: 33%;
 }
} 
.blog__block {
  margin-top: 1.5rem;
}

.block__date {
  font-family: $en-family;
  font-size: 0.75rem;
  color: #0D2936;
}

.block-title {
  font-weight: $normal;
  font-size: 1rem;
  border-bottom: 0.0625rem solid #408F95;
}
.block-text {
  line-height: 1.5;
  margin-top: 1.125rem;
}

.blog__btn {
  margin-top: 2.5rem;
}



.blog__fish-img {
  position: relative;
}
.fish-img {
  display: none;
  @include mq(md) {
    display: block;
    width: 23.5rem;
    height: 7.5rem;
    position: absolute;
    top: -5rem;
    left: 5.5rem;
  }
}

