@use 'global' as *; 

.blog {
   padding-top: rem(80);
  @include mq(md) {
    position: relative;
    padding-top: rem(108);
  }
}

.blog::before {
  @include mq(md) {
    content: "";
    display: inline-block;
    background-image: url(../images/common/blog_back-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: rem(500);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }
}

.blog::after {
  @include mq(md) {
    content: "";
    background-image: url(../images/common/blog__fish.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: rem(376);
    height: rem(120);
    position: absolute;
    top: rem(28);
    left: calc(50% - min(48%, rem(620)));
  }
}

.blog__inner {
  max-width: rem(600);
  width: 100%;  
}


.title__en.blog__title-en {
  @include mq(md) {
    font-size: rem(40);
    color: #fff;
  }
}

.blog__title-en::first-letter {
  color: #408F95;
  @include mq(md) {
    color: #fff;
  }
}
.blog__title-jp {
  @include mq(md) {
    color: #fff;
  }
}
.blog__items {
  margin-top: rem(25);
   @include mq(md) {
    margin-top: rem(80);
  }
}


.blog__item:not(:first-child) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
  }
}



.blog__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(46);
  }
}


.pagination-001 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  list-style-type: none;
  padding: 0;
}

.pagination-001 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border: 1px solid #408f95;
  border-radius: 1px;
  color: #408f95;
}

.pagination-001 a:not(:hover) {
  text-decoration: none;
}

.pagination-001 .current a {
  background-color: #408f95;
  color: #fff;
  pointer-events: none;
}

