@use "global" as *;



.campaign-card__text {
  // margin-top: 0.5rem;
  gap: rem(16);
  @include mq(md) {
    gap: rem(24);
    // margin-top: 1rem;
  }
}

.campaign__swiper-slide 

.campaign__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

