@use "global" as *;

.campaign {
  margin-top: 2.5rem;
  background-image: url('/dist/assets/images/common/campaign-left.jpg');
  @include mq(md) {
    margin-top: 6.7rem;
  }
}

.campaign__title {
  margin-bottom: 2.5rem;
}

.swiper-campaign {
  padding: 0.9375rem;
  @include mq(md) {
    padding:0 0 0 11.25rem;
  }
}

.campaign__btn {
  margin-top: 2.5rem;
  @include mq(md) {
    margin-top: 5rem;
  }
}

