@use "global" as *;

.contact {
  margin-top: 3.375rem;
  margin-bottom: 6.25rem;
  @include mq(md){
    margin-top: 7.8125rem;
    margin-bottom: 7.8125rem;
  }
}

.contact__contents{ 
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  @include mq(md){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact-left {
  position: relative;
}

.contact-left::after {
  @include mq(md) {
    position: absolute; /*--positionを追加--*/
    top: 0;
    left: 100%;
    margin: 0 1rem;
    content: "";
    width: 1px; /*--縦線の太さ(幅)--*/
    height: 100%;
    background-color: #333; /*--縦線の色--*/
  }
}
.contact-info {
  text-align: center;
  border-top: 1px solid #408F95;
  padding-top: ;
  @include mq(md) {
    display: flex;
  }
}

.contact-info__text {

}


.contact__logo img {
  width: 174px;
  height: 65px;
  margin: auto;
  // aspect-ratio: 174 / 65;
  // object-fit: cover;
}

.contact-info__map iframe {
  height: auto;
  aspect-ratio: 295 / 160;
  object-fit: cover;
  width: 100%;
  margin-top: 1rem;
  @include mq(md) {
    aspect-ratio: 273 / 148;
  }
}

.contact-right {
  text-align: center;
  margin-top: 1rem;
  margin-left: 5rem;
}

.contact-right__title__en {
  font-family: $en-family;
  font-size: 5rem;
  color: #0D2936;
  line-height: 1;
}

.contact-right__title__en::first-letter {
  color: #408F95;
}
.contact-right__title__top {
  font-family: $base-font-family;
  font-weight: $regular;
  color: #408F95;
  font-size: 0.75rem;
  line-height: 1.5;
}

.contact-right__title_bottom {
  font-family: $base-font-family;
  font-weight: $regular;
  color: #408F95;
  font-size: 0.875rem;
  line-height: 1.285;
}

.contact__btn {
  margin-top: 2.5rem;
}