@use "global" as *;



.contact__inner {
  display: flex;
}

.contact-info {
  display: flex;
}
.contact__logo img {
  width: 200px;
  height: 75px;
  // aspect-ratio: 174 / 65;
  // object-fit: cover;
}

.contact-info__map iframe {
  height: auto;
  aspect-ratio: 295 / 160;
  object-fit: cover;
  width: 100%;
  @include mq(md) {
    aspect-ratio: 273 / 148;
  }
}