@use "global" as *;

.section__title {
  text-align: center;
}

.title__en {
  font-family: $en-family;
  font-size: rem(32);
  color: #0D2936;
  line-height: calc(40 / 32);
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}

.title__en::first-letter {
  color: #408F95;
}
.title__jp {
  font-family: $base-font-family;
  font-weight: $regular;
  color: #408F95;
  font-size: rem(12);
  line-height: calc(18 / 12);
}

.contact-info__map iframe {
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  @include mq(md) {
    aspect-ratio: 16 / 9;
  }
}