@use "global" as *;

.contact {
  margin-top: 5rem;
  margin-bottom: 6.25rem;
  @include mq(md){
    margin-top: 6.25rem;
    margin-bottom: 10rem;
  }
}

.contact__contents{ 
  padding-left: 0.9375rem;
  @include mq(md){
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5rem 7rem 6rem 3.125rem;
    text-align: center;
      box-shadow: 10px 4px 4px 0 rgba(0,0,0,0.25);
  }
}

.contact-left {
  padding-left: 0.625rem;
  padding-right: 1.5625rem;
  @include mq(md) {
  padding-right: 5.125rem;
  border-right: 0.0625rem solid #408F95;
  }
}

.contact__logo {
  padding-bottom: 0.375rem;
}
.contact__logo img {
  width: 10.875rem;
  height: 4.0625rem;
  margin: auto;
  @include mq(md) {
    width: 12.5rem;
    height: 4.6875rem;
    // margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
//   aspect-ratio: 174 / 65;
//   width: 100%;
}

// .contact__logo img {
//   object-fit: cover;
// }

.contact-info {
  text-align: center;
  border-top: 1px solid #408F95;
  align-items: center;
  align-items: flex-start;
  padding-top: 1rem;
  @include mq(md) {
    display: flex;
    text-align: left;
    gap: 1.3125rem;
  }
}
.contact-info__text {
  @include mq(md) {
  max-width: 9.125rem;
  width: 100%;
  margin-top: 1rem;
  }
}
.contact-info__address {
  @include mq(md) {
  text-align: left;
  line-height: 1.5;
  }

}
.contact-info__address + .contact-info__address {
  margin-top: 0.25rem;
}


.contact-info__map {
  @include mq(md) {
  width: 63%;
  margin: auto;
  }
}

.contact-info__map iframe {
  height: auto;
  aspect-ratio: 295 / 160;
  object-fit: cover;
  width: 100%;
  margin-top: 1rem;
  @include mq(md) {
    aspect-ratio: 273 / 148;
  }
}


.contact-right {
  margin-top: 2rem;
  padding-right: 0.935rem;
  @include mq(md) {
    text-align: center;
    padding-left: 5.0625rem;
    margin-bottom: 1rem;
  } 
}
.contact-right__title {
  text-align: center;
}
.contact-right__title__en {
  font-family: $en-family;
  font-size: 5rem;
  color: #0D2936;
  line-height: 1;
}

.contact-right__title__en::first-letter {
  color: #408F95;
}
.contact-right__title__top {
  font-weight: $regular;
  color: #408F95;
  font-size: 0.75rem;
  line-height: 1;
}

.contact-right__title_bottom {
  font-weight: $regular;
  color: #408F95;
  font-size: 0.875rem;
  line-height: 1.285;
  margin-top: 0.5rem;
}

.contact__btn {
  margin-top: 2.5rem;
}

.contact__fish-img {
  position: relative;
}

.contact__fish-img img {
  display: block;
    width: 6.8125rem;
    height: 3.125rem;
    position: absolute;
    top: -1.5rem;
    left: 15.5rem;
  @include mq(md) {
    width: 18.8125rem;
    height: 8.625rem;
    position: absolute;
    top: -2.5rem;
    left: 67.5rem;
  }
}