@use "global" as *;

.footer {
  background-color: #408F95;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md){
    padding-top: rem(80);
    padding-bottom: rem(80);
   }
}

.footer__inner {
  max-width: rem(600);
  width: ;
}

.footer__logo {
  align-items: end;
  @include mq(md) {
    display: flex;
    gap: rem(40);
  }
}

.footer__img a {
  display: block;
}

.footer__img img{
  width: rem(120);
  height: rem(45);
  @include mq(md) {
    width: rem(200);
    height: rem(75);
  }
}
.footer__sns {
  display: flex;
  gap: rem(16);
  align-items: end;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
  }
}
.footer__sns img {
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}


.footer__block {
  gap: rem(16);
  @include mq(md) {
    display: flex;
    gap: rem(120);
  }
}

.footer__nav {
  display: flex;
  gap: rem(16);
  margin-top: rem(30);
  justify-content: center;
  @include mq(md) {
    gap: rem(120);
    margin-top: 0;
  }
}


.footer__small {
  font-size: rem(12);
  font-family: $en-family;
  line-height: 1.5;
  margin-top: rem(10);
  color: $white;
  text-align: center;
  @include mq(md) {
    margin-top: rem(60);
    font-size: rem(14);
  }
}
