@use 'global' as *; 

.gallery__images {
  display: grid;
  grid-template-columns: 1fr .16fr 1fr;
}

.gallery__img:nth-child(6n + 1) {
  aspect-ratio: 345 / 523;
  @include mq("md") {
    aspect-ratio: 492 / 746;
    grid-row: span 2;
    grid-column: 1;
  }
}

.gallery__img:nth-child(6n) {
  aspect-ratio: 345 / 523;
  @include mq("md") {
    aspect-ratio: 492 / 746;
    grid-row: 3 / 5;
    grid-column: 3 / 4;
  }
}