@use "global" as *;

.btn-trigger {
  position: relative;
  width: rem(32);
  height: rem(24);
  cursor: pointer;
}
.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: rem(2);
  background-color: #fff;
  border-radius: rem(4);
}
.btn-trigger, .btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: rem(10);
}
.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

#btn02.active span:nth-of-type(1) {
  // -webkit-transform: translateY(20px) rotate(45deg);
  transform: translateY(rem(12)) rotate(45deg);
}
#btn02.active span:nth-of-type(2) {
  opacity: 0;
}
#btn02.active span:nth-of-type(3) {
  // -webkit-transform: translateY(-20px) rotate(-45deg);
  transform: translateY(rem(-10)) rotate(-45deg);
}


