@use 'global' as *; 

.information {
  background-color: #DDF0F1;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.information__block {
  margin-top: 1.5rem;
}
.information__block-title {
  font-weight: $bold;
  font-size: 1.25rem;
  border-bottom: 1px solid #408F95;
}
.information__block-text {
  line-height: 1.5;
}