@use 'global' as *; 

.blog {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include mq(md) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}


.blog__content {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  margin-top: 1.5rem;
  padding: 1rem;
  @include mq(md) {
    display: flex;
    gap: 3rem;
  }
} 
.blog__block {
  margin-top: 1.5rem;
  @include mq(md) {
    margin: auto;
  }
}
.blog__block-title {
  font-weight: $bold;
  font-size: 1.25rem;
  border-bottom: 1px solid #408F95;
}
.blog__block-text {
  line-height: 1.5;
}

.blog__btn {
  margin-top: 2.5rem;
}