@use 'global' as *; 

.information {
  // max-width: 90rem;
  // width: 100%;
  background-color: #DDF0F1;
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include mq(md) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}

.information__inner {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  @include mq(md) {
    padding-left: 11.25rem;
    padding-right: 11.25rem;
  }

}

.information__content {
  margin-top: 1.5rem;
  @include mq(md) {
    margin-top: ;
    display: flex;
    gap: 3rem;
    align-items: center;
  }
} 

.information__img {
  max-width: 33.75rem;
  width: 100%;
  aspect-ratio: 540 / 356;
}

.information__img img {
  object-fit: cover;
}

.information__block {
  max-width: 30.75rem;
  width: 100%;
  text-align: left;
  margin-top: 1.5rem;
  @include mq(md) {
    margin-top: 0;
  }
}
.information__block-title {
  font-size: 1.25rem;
  font-weight: $bold;
  border-bottom: 1px solid #408F95;
  @include mq(md) {
    font-size: 1.5rem;
  }

}
.information__block-text {
    // line-height: 1.5;
    font-weight: $regular;
    margin-top: 0.5rem;  
}

.information__btn {
  margin-top: 2.5rem;
}