@use "global" as *;


#page-top {
  display: none;
  @include mq(md){
    bottom: 20px;
    position: fixed;
    right: 20px;
  }
}
#page-top a {
  @include mq(md) {
    border-radius: 50%;
    height: 80px;
    padding: 0;
    text-align: center;
    transition: opacity .5s;
    width: 80px;
  }

}
#page-top a:hover {
  opacity: 0.8;
  transition: opacity .5s;
}
#page-top a img {
  width: 80px;
}