@use "global" as *;

.page-campaign__mv {
   position: relative;
}

.page-campaign__mv::before {
   content: "";
   display: inline-block;
   background-image: url(../images/common/page-campaign-mv-sp.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: rem(548);
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   @include mq(md) {
    background-image: url(../images/common/page-campaign-mv-pc.jpg);
   }
}