@use "global" as *;

.page-campaign__mv {
   position: relative;
}

.page-campaign__mv::before {
   content: "";
   display: inline-block;
   background-image: url(../images/common/);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: rem(500);
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -10;
   @include mq(md) {
    background-image: url(../images/common/);
   }
}