@use "global" as *;

.campaign-sub__mv {
  position: relative;
  height: rem(548);
}
// .campaign-sub__mv-img {
//   height: rem(548);
// }

.campaign-sub__mv-img img {
  height: rem(548);
  width: 100%;
}