@use 'global' as *; 

.price {
  background-color: #DDF0F1;
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include mq(md) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
} 



.price__table {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    gap: 5.8125rem;
  }
}

.price__list-title {
  font-weight: $bold;
  font-size: 1.25rem;
  border-bottom: 1px solid #408F95;
}
.price__list-text {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.714;
}


// .price__table-img{
//   width: 100%;
//   height: auto;
//   @include mq(md) {
//     width: 69%;
//   }
// }


.price__table-img img {
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

.price__table-img source {
  height: auto;
  aspect-ratio: 492 / 746;
  object-fit: cover;
  width: 100%;
}