@use 'global' as *; 

.price {
  background-color: #DDF0F1;
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include mq(md) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
} 


.price__list-title {
  font-weight: $bold;
  font-size: 1.25rem;
  border-bottom: 1px solid #408F95;
}
.price__list-text {
  
}

