@use 'global' as *; 

.price {
  background-color: #DDF0F1;
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(108);
    padding-bottom: rem(100);
  }
} 

.price__inner {
  max-width: rem(600);
  width: 100%;  
}


.price__table {
  margin-top: rem(27);
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    margin-top: rem(40);
  }
}

.price__lists {
  max-width: rem(492);
  width: 100%;  
  // margin-right: rem(93);
  margin: 0 auto;
}

// .price__list {
//   margin-top: rem(40);
// }

.price__list + .price__list {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.price__list-title {
  font-weight: $bold;
  padding-bottom: rem(4);
  border-bottom: rem(1) solid #408F95;
}
.price__list-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(14);
  line-height: 1.5;

  font-weight: $regular;
  margin-top: rem(8);
  @include mq(md){
    font-size: rem(16);
  }
}

.price__list-text dt {
  max-width: rem(300);
  width: 100%;
}

.price__list-text dd {
  max-width: rem(100);
  width: 100%;
  text-align: right;
}

.price__table-img {
  // position: relative;
  aspect-ratio: 345 / 227;
  @include mq(md) {
    aspect-ratio: 492 / 746;
    width: 45%;
}

.price__table-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
}

.price__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}



.price__fish-img {
  position: relative;
}

.price__fish-img img {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(437);
    height: rem(201);
    position: absolute;
    top: -rem(200);
    left: calc(48% - min(50%, rem(620)));
  }
}