@use 'global' as *; 

.price {
  background-color: #DDF0F1;
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(140);
  }
} 

.price__inner {
  max-width: rem(600);
  width: 100%;  
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(108);
    padding-bottom: rem(100);
  }
}


.price__table {
  margin-top: rem(27);
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    gap: rem(93);
    margin-top: rem(40);
  }
}

// .price__lists {
//   max-width: rem(492);
//   width: 100%;  
// }

.price__list {
  margin-top: rem(40);
}

.price__list + .price__list {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.price__list-title {
  font-weight: $bold;
  padding-bottom: rem(4);
  border-bottom: rem(1) solid #408F95;
}
.price__list-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(14);
  line-height: 1.5;
  font-weight: $regular;
  margin-top: rem(8);
  @include mq(md){
    font-size: rem(16);
  }
}


.price__table-img {
  position: relative;
  aspect-ratio: 345 / 227;
  @include mq(md) {
    aspect-ratio: 746 / 746;
}

.price__table-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
}

.price__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}



.price__fish-img {
  position: relative;
}

.price__fish-img img {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(437);
    height: rem(201);
    position: absolute;
    top: -rem(160);
    left: -rem(80);
  }
}