@use 'global' as *; 

.price {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include mq(md) {
    
  }
} 


.price__list-title {
  font-weight: $bold;
  font-size: 1.25rem;
  border-bottom: 1px solid #408F95;
}