@use "global" as *;

.sub-mv {
  height: rem(548);
  background-image: url(../images/common/page-campaign-mv-sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(md) {
    background-image: url(../images/common/page-campaign-mv-pc.jpg);
  }
}

.sub-mv__title {
  text-align: ;
}

