@use "global" as *;

/* Styles for the next and previous buttons */
.custom-next-button.swiper-button-next::after,
.custom-prev-button.swiper-button-prev::after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

