@use "global" as *;


.swiper-wrapper {
  padding-bottom: rem(10);
}

.swiper-button-next {
  display: none;
  @include mq(md) {
    display: block;
    background-image: url('../images/common/campaign-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: rem(15);
    left:calc(49% + rem(470));
    height: rem(80);
    width: rem(80);
  }
}
.swiper-button-prev {
  display: none;
  @include mq(md) {
    display: block;
    background-image: url('../images/common/campaign-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: rem(15);
    left:calc(49% + rem(310));
    height: rem(80);
    width: rem(80);
  }
}


.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after {
  display: none;
}