@use "global" as *;

/* Custom styles for the next button */
.custom-next-button.swiper-button-next::after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-right.svg');
}

/* Custom styles for the previous button */
.custom-prev-button.swiper-button-prev::after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-left.svg');
}

/* Additional styles for both buttons (optional) */
.custom-next-button,
.custom-prev-button {
  width: 5rem;
  height: 5rem;
  left: auto;
  top: -5rem;
}
/* Custom styles for the next button */
.custom-next-button.swiper-button-next::after {
  /* Other styles remain the same */
  right: 0; /* Move the button to the right side */
  top: 0; /* Move the button to the top */
}

/* Custom styles for the previous button */
.custom-prev-button.swiper-button-prev::after {
  /* Other styles remain the same */
  left: 0; /* Move the button to the left side */
  top: 0; /* Move the button to the top */
}

/* Additional styles for both buttons (optional) */
.custom-next-button,
.custom-prev-button {
  width: 5rem;
  height: 5rem;
  /* Remove the 'top' property from here to keep the buttons aligned to the top of the swiper */
  right: 2rem; /* Adjust the right position to create a small space from the right edge */
}
