@use "global" as *;
.swiper-campaign {
  // width: 100%;
  // width: 100vw;
  margin-right: calc(50% - 50vw);
  position: relative;
}

.mi

.custom-next-button.swiper-button-next {
  display: none;
  @include mq(md) {
    display: block;
    background-image: url('../../assets/images/common/campaign-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -85px;
    left:calc(50% + 370px);
    height: rem(80);
    width: rem(80);
  }
}
.custom-prev-button.swiper-button-prev {
  display: none;
  @include mq(md) {
    display: block;
    background-image: url('../../assets/images/common/campaign-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -85px;
    left:calc(50% + 210px);
    height: rem(80);
    width: rem(80);
  }
}


.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after {
  display: none;
}