@use "global" as *;

/* Custom styles for the next button */
.custom-next-button.swiper-button-next::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-right.svg');
}

/* Custom styles for the previous button */
.custom-prev-button.swiper-button-prev::after {
  content: "";
  width: 100%;
  height: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-left.svg');
}

/* Additional styles for both buttons (optional) */
.custom-next-button,
.custom-prev-button {
  width: 5rem;
  height: 5rem;
  left: auto;
  top: -5rem;
}
