@use "global" as *;

/* Custom styles for the next button */
.custom-next-button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-right.svg');
}

/* Custom styles for the previous button */
.custom-prev-button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-left');
}

/* Additional styles for both buttons (optional) */
.custom-next-button,
.custom-prev-button {
  width: 50px;
  height: 50px;
}
