@use "global" as *;

.custom-next-button.swiper-button-next,
.custom-prev-button.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  position: relative;
}


/* Custom styles for the next button */
.custom-next-button.swiper-button-next::after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-right.svg');
}

/* Custom styles for the previous button */
.custom-prev-button.swiper-button-prev::after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-left.svg');
}

/* Additional styles for both buttons (optional) */
.custom-next-button,
.custom-prev-button {
  width: 5rem;
  height: 5rem;
  left: auto;
  top: -5rem;
}

/* Custom styles for the next button */
.custom-next-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
}

/* Custom styles for the previous button */
.custom-prev-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
}

/* Additional styles for both buttons (optional) */
.mySwiper {
  position: relative; /* Ensure the swiper container is a reference for absolute positioning */
}
