@use "global" as *;
.swiper-campaign {
  // width: 100%;
  // width: 100vw;
  margin-right: calc(50% - 50vw);
  position: relative;
}


.custom-next-button.swiper-button-next {
  display: none;
  @include mq(md) {
    display: block;
    background-image: url('../../assets/images/common/campaign-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -60px;
    right: min(50%, 6px);
    height: rem(80);
    width: rem(80);
  }
}
.custom-prev-button.swiper-button-prev {
  display: none;
  @include mq(md) {
    display: block;
    background-image: url('../../assets/images/common/campaign-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -60px;
    left:calc(50%  0px);
    height: rem(80);
    width: rem(80);
  }
}

.custom-next-button.swiper-button-next::after {
  content: "";



  z-index: 2000;

}

.custom-prev-button.swiper-button-prev::after {
  content: "";


  z-index: 2000;

}

// .swiper-slide.campaign__swiper-slide {
//   height: auto;
//   align-items:stretch
// }
