@use "global" as *;
.swiper-campaign {
  position: relative;
  width: 100%;
}

.custom-next-button.swiper-button-next {
  display: none;
  @include mq(md) {
    display: block;
    height: 5rem;
    width: 5rem;
  }
}
.custom-prev-button.swiper-button-prev {
  display: none;
  @include mq(md) {
    display: block;
    height: 5rem;
    width: 5rem;
  }
}

.custom-next-button.swiper-button-next::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-right.svg');
  z-index: 2000;
  position: absolute;
  top: -20.1rem;
  left: -10.3rem;
}

.custom-prev-button.swiper-button-prev::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/common/campaign-left.svg');
  z-index: 2000;
  position: absolute;
  top: -21rem;
  left: 62.6rem;
}

.swiper-slide .campaign__swiper-slide {
  width: 333px;
}
.swiper-slide {
  width: 100%;
  margin-right: 0;
}