@use "global" as *;

/* Styles for the next and previous buttons */
.custom-next-button.swiper-button-next::after,
.custom-prev-button.swiper-button-prev::after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Custom styles for the next button */
.custom-next-button.swiper-button-next::after {
  background-image: url('../../assets/images/common/campaign-right.svg');
}

/* Custom styles for the previous button */
.custom-prev-button.swiper-button-prev::after {
  background-image: url('../../assets/images/common/campaign-left.svg');
}

/* Styles for both buttons */
.custom-next-button,
.custom-prev-button {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 5rem;
}

/* Positioning and alignment for the buttons */
.custom-next-button {
  right: 0;
}

.custom-prev-button {
  left: 0;
}

/* Styles for the swiper container */
.mySwiper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

/* Additional styles for both buttons (optional) */
.custom-next-button,
.custom-prev-button {
  margin: 0.5rem;
}
