@use 'global' as *; 

.voice {
  position: relative;
}

.voice::before {
  content: "";
  background-image: url(../images/common/blog__fish.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(300);
  height: rem(138);
  position: absolute;
  top: rem(-125);
  left: calc(50% - min(48%, rem(620)));
}

.voice__inner {
  max-width: rem(600);
  width: 100%;  
}

.voice__cards {
  @include mq(md) {
    margin-top: rem(80);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: rem(40);
  }
}
.voice__card {
  margin-top: rem(40);
  box-shadow: 0 rem(4) rem(4) rgba(0,0,0,0.25);
  padding: rem(15) rem(16) rem(24);
  margin: 0 auto;
  @include mq(md) {
    max-width: rem(520);
    width: 100%;
    padding: rem(24);
    margin-top: rem(14);
  }
}
.voice__card-header {
  display: flex;
  align-items: end;
  gap: rem(13);
}

.voice__card-title {
  max-width: rem(276);
  width: 100%;
  @include mq(md) {
    margin-top: rem(24);
  }
}

.card__title-age {
  font-size: rem(12);
}
.voice__card-title-date {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}



.voice__card-sub-title {
  font-weight: $normal;
  font-size: 1rem;
  border-bottom: rem(1) solid #408F95;
  padding-bottom: rem(4);
  margin-top: rem(4);
  @include mq(md) {
    font-size: rem(24);
    margin-top: rem(8);
  }
}


.voice__card-img {
  margin-top: rem(14);
  aspect-ratio: 151 / 117;
  @include mq(md) {
    aspect-ratio: 180/140; 
  }
}

.voice__card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice__content {
  margin-top: rem(15);
}
.voice__content-text {
  @include mq(md) {
    margin-top: rem(40);
  }
}


.voice__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.voice__fish-img {
  position: relative;
}

.voice__fish-img img {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(300);
    height: rem(138);
    position: absolute;
    top: rem(-125);
    left: calc(50% - min(48%, rem(620)));
  }
}

.voice__seahorse-img {
  position: relative;
}

.voice__seahorse-img img {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(71);
    height: rem(162);
    position: absolute;
    top: rem(-100);
    right: calc(50% - min(48%, rem(620)));
  }
}