@use 'global' as *; 
.voice {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.voice__cards {
  @include mq(md{
    
  }
}
.voice__card {
  margin-top: 2.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  padding: 1rem 1rem 1.5rem;
}
.voice__card-header {
  display: flex;
}
.voice__card__sub-title {
  border-bottom: 0.0625rem solid #408F95;
}

