@use "global" as *;



.works_contents {
  background: linear-gradient(90deg, transparent 0%, transparent 34%, #F0F0F0 34%, #F0F0F0 100%);
  max-width: 126rem;
  width: 100%;
  margin: 0 auto;
  padding: 6rem 0;
  display: flex;
  align-items: center;
}

.works_textblock {
  margin-top: 3rem;
}

.works_text {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
.works_btn {
  margin-top: 3rem;
}

.works_img {
  max-width: 75rem;
  width: 100%;
  margin-right: 2rem;
}
.works_content {
  text-align: center;
  max-width: 43rem;
  width: 100%;
}