@use "global" as *;

.blog-sub-cards {
  display: block;
  padding-left: rem(6);
  padding-right: rem(6);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: rem(40);
  }
}

.blog-sub-cards__item  {
  margin-top: rem(24);
}


// .blog-sub-cards__item:first-child {
//   margin-top: rem(40);
//   @include mq(md) {
//     margin-top: rem(80);
//   }
// }
