@use "global" as *;

.blog-detail__img {
  aspect-ratio: 700 / 468;
}

.blog-detail__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.blog-detail__list::before {
  display: inline-block;
  content: url(../images/common/star.svg);
  width: rem(18);
  height: rem(18);
  margin-right: rem(4); 
}