@use "global" as *;

.blog-article-card {
  background-color: #fff;
  box-shadow: rem(2) rem(2) rem(10) rgba(0,0,0,0.25);
  padding: rem(16) rem(16) rem(24);
  max-width: rem(333);
  width: 100%;
  height: auto;
}

.blog-article-card__link {
  display: flex;
  height: 100%;
}

.blog-article-card__link:hover {
  opacity: 0.6; 
}

.blog-article-card__img {
  aspect-ratio: 301/201;
}

.blog-article-card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-article-card__block {
  margin-top: rem(16);
  color: #000;
}


.blog-article-card__date {
  font-family: Gotu;
  font-size: rem(14);
  color: #0D2936;
  line-height: 1.5;
}

.blog-article-card__title {
  font-weight: $normal;
  font-size: rem(16);
  border-bottom: rem(1) solid #408F95;
  padding-bottom: rem(4);
}
