@use "global" as *;

.blog-sub-mv {
  height: rem(460);
  background-image: url(../images/common/blog-sub__mv-sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(md) {
  
    height: rem(548);
  }
}
