@use "global" as *;

// .btn{
//   /*アニメーションの起点とするためrelativeを指定*/
//   position: relative;
//   // overflow: hidden;
//   /*ボタンの形状*/
//   text-decoration: none;
//   display: inline-block;
//     width:  12.625rem;
//   border: 1px solid #408F95;/* ボーダーの色と太さ */
//   padding: 1rem 2.5rem;
//   text-align: left;
//   outline: none;
//   background-color: #408F95;
//   /*アニメーションの指定*/   
//   transition: ease .2s;
// }


// .btn::after {
//   position: absolute;
//   content: "";
//   top: 0.25rem;
//   left: 0.25rem;
//   bottom: 0;
//   right: 0;
//   border: 1px solid #408F95; /* ボーダーの色と太さ */
//   background-color: #D9D9D9;
//   z-index: -10;
//   height: 100%;
//   width: 100%;
// }

// /*ボタン内spanの形状*/
// .btn span {
// position: relative;
// z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
// color: #fff;
// }

// .btn:hover span{
// color: #408F95;
// }

// .btn span::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: calc(100% + 5px);
//   width: 2.5rem;
//   height: 0.375rem;
//   margin-top: -0.1875rem; /* 中央に配置 */
//   margin-left: 0.4375rem;
//   border-bottom: 1px solid #fff;
//   border-right: 1px solid #fff;
//   transform: skewX(45deg);
//   z-index: 5;
//   transition: border-color 0.2s; /* アニメーションを設定 */
// }

// .btn:hover span::before {
//   border-color: #408F95; /* ホバー時の色変更 */
// }

// /*== 背景が流れる（左から右） */
// .bgleft:before {
//  content: '';
//   /*絶対配置で位置を指定*/
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: 2;
//   /*色や形状*/
//  background:#fff;/*背景色*/
//  width: 100%;
// height: 100%;
// // border: 1px solid #408F95; 

//   /*アニメーション*/
//  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
//  transform: scale(0, 1);
// transform-origin: right top;
// }

// /*hoverした際の形状*/
// .bgleft:hover:before{
// transform-origin:left top;
// transform:scale(1, 1);
// }

// .btn-container {
//   text-align: center;
//   margin: 5rem;
// }

.btn {
  /* アニメーションの起点とするため relative を指定 */
  position: relative;
  /* ボタンの形状 */
  text-decoration: none;
  display: inline-block;
  width: 12.625rem;
  border: 1px solid #408F95; /* ボーダーの色と太さ */
  padding: 1rem 2.5rem;
  text-align: left;
  outline: none;
  background-color: #408F95;
  /* アニメーションの指定 */
  transition: ease 0.2s;
}

.btn::after {
  position: absolute;
  content: "";
  top: 0.25rem;
  left: 0.25rem;
  bottom: 0;
  right: 0;
  border: 1px solid #408F95; /* ボーダーの色と太さ */
  background-color: #D9D9D9;
  z-index: -10;
  height: 100%;
  width: 100%;
}

/* ボタン内 span の形状 */
.btn span {
  position: relative;
  z-index: 3; /* z-index の数値をあげて文字を背景よりも手前に表示 */
  color: #fff;
}

.btn:hover span {
  color: #408F95;
}

.btn span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  width: 2.5rem;
  height: 0.375rem;
  margin-top: -0.1875rem; /* 中央に配置 */
  margin-left: 0.4375rem;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: skewX(45deg);
  z-index: 5;
  transition: border-color 0.2s; /* アニメーションを設定 */
}

.btn:hover span::before {
  border-color: #408F95; /* ホバー時の色変更 */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

.btn:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.btn-container {
  text-align: center;
  margin: 5rem;
}

