@use "global" as *;

.btn{
  box-shadow: 4px 4px 0 0 #D9D9D9;
  display: block;
  padding: rem(16) 0;
  width: rem(202);
  text-align: center;
  background: #408F95;
  color: #FFF;
  text-decoration: none;
  margin: 10px;
  position: relative;
}

.btn-text:before,.btn-text:after{
  content: '';
  position: absolute;
  background: #fff;
}
.btn-text:before {
  top: 24px;
  right: 20px;
  height: ï¼‘px;
  width: 18px;
}
.btn-text:after {
  top: 20px;
  right: 20px;
  height: 2px;
  width: 10px;
  transform: rotate(45deg);
}