@use "global" as *;

box-shadow: 5px 5px 0 0 #2f5d08
  display: block;
  padding: 10px;
  width: 200px;
  text-align: center;
  background: #5c9b26;
  color: #FFF;
  text-decoration: none;
  margin: 10px;
}