@use "global" as *;

/*== ボタン共通設定 */
.btn {
  margin-top: 100px;
  margin-left: 100px;
  background-color: #408F95;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  max-width: 12.625rem;
  width: 100%;
  border: none; /* ボーダーを削除 */
  padding: 1rem 2.5rem;
  text-align: center;
  outline: none;
  transition: ease .2s;
}

.btn::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  border: 1px solid #408F95;
  z-index: 100;
  height: calc(100% + 0.5rem); /* 影を付けるため高さを調整 */
  width: calc(100% + 0.5rem); /* 影を付けるため幅を調整 */
  transition: ease .2s;
}

.btn span {
  position: relative;
  z-index: 3;
  color: #fff;
}

.btn:hover span {
  color: #408F95;
}

.btn:hover::before {
  top: 0; /* 影を上にずらす */
  left: 0; /* 影を左にずらす */
}

/*== 背景が流れる（左から右） */
.bgleft::before {
  content: '';
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

.bgleft:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
