@use "global" as *;

.campaign-sub__inner {
  max-width: rem(500);
  width: 100%;
}

.campaign-sub__mv {
  height: rem(460);
  background-image: url(../images/common/page-campaign-mv-sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(md) {

    height: rem(548);
  }
}


.campaign-sub__cards {
  margin-top: rem(40);
}


.campaign-sub__pagination {
  margin-top: rem(80);
}