@use "global" as *;

.card-guid {
  margin-top: rem(24);
}

.card-guid__text {
  text-align: left;
  color: #0D2936;
}

.card-guid__info {
  text-align: center;
  margin-top: rem(32);
}


.card-guid__btn {
  text-align: center;
}