@use "global" as *;

.contact {
  position: relative;

}

.contact::before {
  content: "";
  background-image: url(../images/common/contact-fish.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(109);
  height: rem(50);
  position: absolute;
  top: rem(-25);
  right: calc(50% - min(48%, rem(160)));
@include mq(md) {
  width: rem(301);
  height: rem(138);
  position: absolute;
  top: rem(-45);
  right: calc(50% - min(48%, rem(670)));
}
}

.contact__inner {
  max-width: rem(600);
  width: 100%; 
  @include mq(md) {
    max-width: rem(1080);
  } 
}

.contact__contents{ 
  padding-left: rem(15);
  text-align: center;
  @include mq(md){
    display: flex;
    text-align: center;
    align-items: center;
    padding: rem(80) rem(112) rem(80) rem(50);
    text-align: center;
    box-shadow: rem(2) rem(4) rem(4) 0 rgba(0,0,0,0.25);
  }
}

.contact__info {
  display: block;
  margin: 0 auto;
  @include mq(md) {
  border-right: rem(1) solid #408F95;
  padding-right: rem(80);
  }
}

.contact__logo {
  padding-bottom: rem(6);
  border-bottom: rem(1) solid #408F95;
  @include mq(md) {
    padding-bottom: rem(8);
  }
}
.contact__logo img {
  width: rem(174);
  height: rem(65);
  margin: 0 auto;
  @include mq(md) {
    width: rem(200);
    height: rem(75);
 
  }
}
.contact__info {
  max-width: rem(440);
  width: 100%;
  margin: 0 auto;

  align-items: center;
  align-items: flex-start;
  padding-top: rem(16);
  @include mq(md) {
    display: flex;
    text-align: left;
    gap: rem(21);
    padding-top: rem(24);
  }
}
.contact__text {
  @include mq(md) {
  max-width: rem(146);
  width: 100%;
  }
}
.contact__address {
  @include mq(md) {
  text-align: left;
  line-height: 1.5;
  }

}
.contact__address + .contact__address {
  margin-top: rem(4);
}


.contact__map {
  margin-top: rem(16);
  aspect-ratio: 295 / 160;
  @include mq(md) {
  margin-top: 0;
  aspect-ratio: 273 / 148;
  }
}

.contact__map iframe {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.contact__right {
  margin-top: rem(40);
  padding-right: rem(15);
  @include mq(md) {
    text-align: center;
    padding-left: rem(81);
    padding-right: 0;
    margin-top: 0;
  } 
}
.contact__title {
  text-align: center;
}
.contact__en {
  font-family: $en-family;
  font-size: rem(80);
  color: #0D2936;
  line-height: 1;
}

.contact__en::first-letter {
  color: #408F95;
}

.contact__jp {
  font-weight: $regular;
  color: #408F95;
  font-size: rem(12);
  line-height: 1;
}

.contact__contact {
  font-weight: $regular;
  color: #408F95;
  font-size: rem(14);
  line-height: 1.285;
  margin-top: rem(8);
}

.contact__btn {
  text-align: center;
  margin-top: rem(40);
}
