@use "global" as *;

.header.active {
  display: block;
  z-index: 9999;
  background-color: #408F95;
  overflow-y: scroll;
}

.drawer {
  display: none;
  padding-bottom: rem(80);
  position: fixed;
  top: rem(80);
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #408F95;
  overflow-y: scroll;
   /* メニュー内のコンテンツを適切に配置するために余白を追加 */
}

.drawer.active {
  display: block;
}

.body-locked {
  height: 100%;
  position: fixed;
}



.drawer__nav {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.drawer__lists {
  color: $white;
  margin-bottom: rem(16);
}


