@use "global" as *;

.footer {
  background-color: #408F95;
  padding-top: 3rem;
  padding-bottom: 3.5rem;
  @include mq(md){
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.footer__logo {
  @include mq(md) {
    display: flex;
    gap: 2.5rem;
  }
}

.footer__logo-img {
  width: 7.5rem;
  height: 2.8125rem;
  
}
.footer__logo-sns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.footer__logo-sns img {
  width: 1.5rem;
  height: 1.5rem;
  @include mq(md) {
    width: 2rem;
    height: 2rem;
  }
}


.footer__small {
  font-size: 0.75rem;
  font-family: $en-family;
  line-height: calc(18 / 12);
  padding-top: 2.5rem;
  color: $white;
  text-align: center;
  @include mq(md) {
    padding-top: 5rem;
    font-size: 0.875rem;
  }
}