@use "global" as *;

.footer {
  background-color: #408F95;
  margin-top: rem(90);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.footer__inner {
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md){
    padding-top: rem(80);
    padding-bottom: rem(80);
   }
}

.footer__logo {
  @include mq(md) {
    display: flex;
    gap: rem(40);
    margin-bottom: rem(12);
  }
}

.footer__logo-img a {
  display: block;
}

.footer__logo-img img{
  width: rem(120);
  height: rem(45);
  @include mq(md) {
    width: rem(200);
    height: rem(75);
  }
}
.footer__logo-sns {
  display: flex;
  gap: rem(16);
  align-items: end;
  margin-top: rem(16);
  margin-bottom: rem(30);
  @include mq(md) {
    margin-bottom: rem(4);
    margin-top: 0;
  }
}
.footer__logo-sns img {
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}

.footer__items {
  display: flex;
  justify-content: center;
  gap: rem(16);
  @include mq(md) {
    gap: rem(120);
  }
}

.footer__item {
  gap: rem(16);
  @include mq(md) {
    display: flex;
    gap: rem(120);
  }
}

.footer__small {
  font-size: rem(12);
  font-family: $en-family;
  line-height: 1.5;
  margin-top: rem(10);
  color: $white;
  text-align: center;
  @include mq(md) {
    margin-top: rem(52);
    padding-bottom: rem(80);
    font-size: rem(14);
  }
}
