@use "global" as *;

.footer {
  background-color: #408F95;
}

.footer__sub-title {
  // display: flex;
  align-items: center;
}

.footer__sub-title img {
  margin-right: 10px; 
  width: 1.125rem;
  height: ;
}



.footer__small {
  font-size: 0.75rem;
  font-family: $en-family;
  line-height: calc(18 / 12);
}