@use "global" as *;

.footer {
  background-color: #408F95;
}





.footer__small {
  font-size: 0.75rem;
  font-family: $en-family;
  line-height: calc(18 / 12);
  padding-top: 2.5rem;
  color: $white;
  @include mq(md) {
    padding-top: 5trm;
    
  }
}