@use "global" as *;

.footer {
  background-color: #408F95;
}

.footer__logo-img {
  width: 7.5rem;
  height: 2.8125rem;
}
.footer__logo-sns img {
  width: ;
}


.footer__small {
  font-size: 0.75rem;
  font-family: $en-family;
  line-height: calc(18 / 12);
  padding-top: 2.5rem;
  color: $white;
  text-align: center;
  @include mq(md) {
    padding-top: 5rem;
  }
}