@use "global" as *;

.footer {
  background-color: #408F95;
}

.footer__sub-title {
  display: flex;
  align-items: center;
}

.footer__sub-title img {
  margin-right: 10px; /* 画像とテキストの間に適切なスペースを設定 */
}



.footer__small {
  font-size: 0.75rem;
  font-family: $en-family;
  line-height: calc(18 / 12);
}