@use "global" as *;

.header {
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  width: 100%;
  transition: 0.3s;
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img{
  width: rem(102);
  height: rem(38);
}