@use "global" as *;

.header__title {
  text-align: center;
}

.title__en {
  font-family: $en-family;
  font-size: rem(32);
  color: #0D2936;
}


.title__jp {
  font-family: $base-font-family;
  font-weight: $regular;
  color: #408F95;
}