@use "global" as *;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.p-header {
  background-color: #000;
  height: 5rem;
}

.p-header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.2rem;
  @include mq(md){
    padding-left: 3.2rem;
    padding-right: 0;
  }
}

.c-logo {
  width: 7rem;
  position: relative;
  z-index: 9999;
  @include mq(md){
    width: 9.5rem;
  }
}