@use "global" as *;

.information-sub {
  position: relative;
}





.information-sub__tab{
  display: flex;
  gap: rem(20);
  @include mq(md) {
    gap: rem(90);
  }
}
.information-sub__list a{
  display: inline-block;
  width: 100%;
  background:#DDF0F1;
  padding:rem(10) rem(16);
  font-size: rem(14);
  vertical-align: middle;
  @include mq(md) {
    font-size: rem(24);
  }
}

.information-sub__list.active a{
  background:#408F95;
  color: #fff;
}

.information-sub__list a::before {
  @include mq(md) {
    display: inline-block;
    content: url(../images/common/information-logo-pc.svg);
    width: rem(64);
    height: rem(64);
    margin-right: rem(8); 
  }
}

.information-sub__list.active a::before {
  @include mq(md) {
    display: inline-block;
    content: url(../images/common/information-logo-pc-hover.svg);
    width: rem(64);
    height: rem(64);
    margin-right: rem(8); 
    background:#408F95;
    color: #fff;
  }
}


/*エリアの表示非表示と形状*/
.information-sub__area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: #fff;
}

/*areaにis-activeというクラスがついた時の形状*/
.information-sub__area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a{
  color:#408F95;
  text-decoration: none;
}

.information-sub__content {
  border: rem(1) solid #408F95;
  padding: rem(24);
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
    display: flex;
    gap: rem(48);
    align-items: center;
  }
} 

.information-sub__img {
  margin-top: rem(8);
  aspect-ratio: 345 / 227;
  @include mq(md) {
  margin-top: 0;
  aspect-ratio: 492 / 313;
  }
}

.information-sub__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.information-sub__block {
  max-width: rem(492);
  width: 100%;
  text-align: left;
}
.information-sub__sub-title {
  font-size: rem(20);
  font-weight: $bold;
  border-bottom: rem(1) solid #408F95;
  @include mq(md) {
    font-size: rem(24);
  }

}
.information-sub__text {
    margin-top: rem(8);  
    line-height: 1.5;
}
