@use "global" as *;

.list__items {
  display: flex;
  gap: 1rem;
  @include 
}

.list__items-left {
  @include mq(md) {
    display: flex;
  }
}

.list__items-right {
  @include mq(md) {
    display: flex;
  }
}