@use "global" as *;


.item__link:hover {
  opacity: 0.6; 
}

.item__img {
  aspect-ratio: 301/201;
}

.item__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__block {
  margin-top: rem(16);
}