@use "global" as *;


.list__items {
  display: flex;
  gap: 1rem;
  @include mq(md) {
    gap: 7.5rem;
  }
  // margin: auto;
}

.list__items-left {
  @include mq(md) {
    display: flex;
    gap: 7.5rem;
  }
}

.list__items-right {
  @include mq(md) {
    display: flex;
    gap: 7.5rem;
  }
}

.list__item {
  color: $white;
}


.list__items-left {
  @include mq(md) {
    display: flex;
  }
}
.list__title {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: $bold;
  padding-top: 2.5rem;
}



.list__title img {
  margin-right: 10px; 
  width: 1.125rem;
  height: 1,125rem;
}

.list__text {
  padding-top: 1.5rem;
  padding-left: 1.75rem;
}