@use "global" as *;

.list-item {
  color: $white;
}

.list-title {
  display: flex;
  align-items: center;
  color: $white;
  font-weight: $bold;
  padding-top: 2.5rem;
}

.list-title img {
  margin-right: 10px; 
  width: 1.125rem;
  height: 1,125rem;
}

.list-text {
  padding-top: ;
}