@use "global" as *;


// /* モーダルウィンドウのスタイル */
// .modal {
//   display: none;
//   position: fixed;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: rgba(0, 0, 0, 0.5);
// }

// .modal-content {
//   margin: auto;
//   display: block;
//   max-width: 80%;
//   max-height: 80%;
// }

// .close {
//   color: #fff;
//   font-size: 30px;
//   font-weight: bold;
//   position: absolute;
//   top: 10px;
//   right: 25px;
// }

// /* 画像がホバーされたときのスタイル（任意） */
// .gallery__img:hover {
//   cursor: pointer;
//   opacity: 0.7;
// }


    /* モーダルに表示する画像用div */
    /* 最初は見えない */
    .modalItem {
      display: none;
      position: fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      align-items:center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100vh;
      z-index: 19999;
  }

  /* モーダル表示用画像 */
  .modalItem img {
    aspect-ratio: 920 / 586;
      max-width: rem(920);
      width: 100%;
      max-height: 80%;
      object-fit: cover;
      @include mq(md) {
        max-width: rem(920);
      }
  }

  /* モーダルに画像表示 */
  .modalItem.open {
      display: flex;
  }