@use 'global' as *;

.mv {
  // position: relative;
  height: 100vh;
  background-image: url(/dist/assets/images/common/mv_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.mv__header {
  te
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  // left: rem(50);
  color: $white;
  z-index: 1000;
  @include mq(md){
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
}

.mv__title {
  font-size: 2.625rem;
  font-weight: $regular;
  font-family: lato;
  letter-spacing: 0.54em;
  @include mq(md) {
    font-size: 5rem;
  }
}

.mv__subtitle {
  font-size: 1.25rem;
  line-height: 1.8125;
  @include mq(md) {
    font-size: rem(24);
  }
}

