@use "global" as *;

.pagination-001 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);
  list-style-type: none;
  padding: 0;
}

.pagination-001 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border: rem(1) solid #408f95;
  border-radius: rem(1);
  color: #408f95;
}

.pagination-001 a:not(:hover) {
  text-decoration: none;
}

.pagination-001 .current a {
  background-color: #408f95;
  color: #fff;
  pointer-events: none;
  がp
}