@use "global" as *;


.header__pc-nav {
  margin-left: auto;
}

.header__pc-nav-items {
  display: flex;
  height: inherit;
  gap: 2.5rem;
}
.header__pc-nav-item {
  height: inherit;
  display: flex;
  align-items: center; /* 上下中央に配置 */
  justify-content: center; /* 左右中央に配置 */
}


.header__pc-nav-item-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: $white;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: $en-family;
  line-height: 1;
}
.header__pc-nav-item-link span {
  color: $white;
  font-size: 0.625rem;
  font-family: $base-font-family;
  margin-top: 0.25rem;
}