@use "global" as *;


.header__pc-nav {
  margin-left: auto;
}

.header__pc-nav-items {
  display: flex;
  height: inherit;
  // gap: rem(40);
}
.header__pc-nav-item {
  height: inherit;
  display: flex;
}


.header__pc-nav-item-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: $white;
  font-weight: 400;
  font-size: rem(18);
  font-family: $en-family;
  line-height: 1;
  text-decoration: none; /* 下線を削除 */
  position: relative;
  height: inherit;
  align-items: center; /* 上下中央に配置 */
  justify-content: center; /* 左右中央に配置 */
  padding-left: min(1.38vw, 1.25rem);
  par
}
.header__pc-nav-item-link span {
  color: $white;
  font-size: rem(10);
  font-family: $base-font-family;
  margin-top: rem(4);
  line-height: 1.5;
}

.header__pc-nav-items li {
  position: relative;
}

.header__pc-nav-item-link {
  // color: #000; /* ナビゲーションリンクのデフォルト色 */

}


// .header__pc-nav-item-link:hover,
// .header__pc-nav-item-link:hover span {
//   color: #0481a2; /* ホバー時のリンクテキストとspanテキストの色 */
// }

.header__pc-nav-item-link::after,
.header__pc-nav-item-link span::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #fff;
  transition: all 0.3s;
  transform: scaleX(0);
  transform-origin: center top;
}

.header__pc-nav-item-link:hover::after,
.header__pc-nav-item-link span:hover::after {
  transform: scaleX(1);
}

