@use "global" as *;

.p-pc-nav {
  height: inherit;
  display: none;
  @include mq(md){
    display: block;
  }
}


.p-pc-nav__items {
  height: inherit;
  display: flex;
  align-items: center;
}

.p-pc-nav__item {
  height: inherit;
}

.p-pc-nav__item a {
  height: inherit;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  font-size: 1.6rem;
}

.p-pc-nav__item.p-pc-nav__item--white {
  margin-left: 1.6rem;
}

.p-pc-nav__item.p-pc-nav__item--white a{
  color: #333;
  background-color: #fff;
  padding: 0 3.2rem;
}