@use "global" as *;

.header__pc-nav {
  margin-left: auto;
}

.header__pc-nav-list {
  display: flex;
}

.header__pc-nav-item:not(:first-child){
  margin-left: 40px;
}

.header__pc-nav-item-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.header__pc-nav-item-link span {
  color: #053e62;
  font-size: 14px;
}