@use 'global' as *;


.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}


.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  display: flex;
  align-items: center;
  color: $white;
  font-size: rem(15);
  font-family: serif;
  font-family: $english-family;
  letter-spacing: 0.06em;
  font-weight: $bold;
  line-height: 1;
  padding-left: rem(13);
  padding-right: (12);
}

.pc-nav__item:last-child a {
  padding-left: 0;
}

.pc-nav__item:last-child a {
  padding-right: 0;
}
