@use 'global' as *; 




.price-table_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(14);
  line-height: 1.5;

  font-weight: $regular;
  margin-top: rem(8);
  @include mq(md){
    font-size: rem(16);
  }
}

.price-table_text dt {
  max-width: rem(300);
  width: 100%;
}

.price-table_text dd {
  max-width: rem(100);
  width: 100%;
  text-align: right;
}