@use 'global' as *; 

.price-table__list + .price-table__list {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.price-table__title {
  font-weight: $bold;
  padding-bottom: rem(4);
  border-bottom: rem(1) solid #408F95;
}



.price-table_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(14);
  line-height: 1.5;

  font-weight: $regular;
  margin-top: rem(8);
  @include mq(md){
    font-size: rem(16);
  }
}

.price-table_text dt {
  max-width: rem(300);
  width: 100%;
}

.price-table_text dd {
  max-width: rem(100);
  width: 100%;
  text-align: right;
}