@use "global" as *;

.select {
  position: relative;
}

.select::before {
  content: "";
  background-image: url(../images/common/select-fish-sp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(120);
  height: rem(50);
  position: absolute;
  top: rem(-25);
  left: calc(50% - min(48%, rem(160)));
  z-index: -50;
@include mq(md) {
  background-image: url(../images/common/select-fish.svg);
  width: rem(301);
  height: rem(138);
  position: absolute;
  top: rem(-70);
  left: calc(50% - min(48%, rem(620)));
}
}


.select__box {
  display: grid;
  grid-template-columns: repeat(2,0.5fr);
  gap: rem(12);
  @include mq(md) {
    display: flex;
    gap: rem(32);
  }
}

.select__text  {
  max-width: rem(162);
  width: 100%;
  text-align: center;
  border: #408F95 solid rem(1);
  padding: rem(5) rem(32);
  color: #408F95;
  font-size: rem(12);
}

.select__text-first {
  color: white;
  background-color: #408F95;
}

