@use "global" as *;

.select {
  position: relative;
}

.select__box {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: rem(16);
  @include mq(md) {
    display: flex;
    gap: rem(32);
  }
}

.select__text  {
  max-width: rem(162);
  width: 100%;
  text-align: center;
  border: #408F95 solid rem(1);
  padding: rem(6) rem(32);
  color: #408F95;
  font-size: rem(12);
}

.select__text:hover {
  color: white;
  background-color: #408F95;
}