@use "global" as *;

.select__box {
  
}

.select__text  {
  max-width: rem(162);
  width: 100%;
  text-align: center;
  border: #408F95 solid rem(1);
  padding: rem(6) rem(32);
  color: #408F95;
  font-size: rem(12);
  margin-left: auto;
}

.select__text:hover {
  color: white;
  background-color: #408F95;
}