@use "global" as *;

.title {
  text-align: center;
}

.title__en {
  font-family: $en-family;
  font-size: rem(32);
  color: #0D2936;
  line-height: 1.25;
  font-weight: 400;
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}

.title__en::first-letter {
  color: #408F95;
}

.title__jp {
  font-family: $base-font-family;
  font-weight: $regular;
  color: #408F95;
  font-size: rem(12);
  line-height: 1.5;
}



.title__en-blog {
  @include mq(md) {
    font-size: rem(40);
    color: #fff;
  }
}

.title__en-blog::first-letter {
  color: #408F95;
  @include mq(md) {
    color: #fff;
  }
}
.title__jp-blog {
  @include mq(md) {
    color: #fff;
  }
}