@use "global" as *;

.campaign-swipers {
  margin-right: calc(50% - 49vw);
  margin-top: rem(24);
  @include mq(md) {
   margin-top: rem(40);
  }
}


.campaign__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

