@use "global" as *;

.contact-sub-error {
  position: relative;
}

.contact-sub-error::before {
  content: "";
  background-image: url(../images/common/select-fish-sp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(120);
  height: rem(55);
  position: absolute;
  top: rem(-30);
  left: calc(50% - min(48%, rem(300)));
  z-index: -50;
@include mq(md) {
  background-image: url(../images/common/select-fish.svg);
  width: rem(301);
  height: rem(138);
  top: rem(-70);
  left: calc(50% - min(48%, rem(600)));
}
}

.contact-sub-error__inner {
  max-width: rem(600);
  width: 100%;
}

.contact-sub-error__form {
  max-width: rem(700);
  width: 100%;
  margin: rem(40) auto 0;
}


.contact-sub-error__messages {
  margin-top: rem(52);
  text-indent: rem(-15);
  @include mq('md') {
    margin-top: rem(150);
    text-align: center;
  }
}

.contact-sub-error__message {
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.4;
  color: #C94800;
  max-width: 65%;
  width: 100%;
  margin: auto;
}

.contact-sub-error__forms {
  max-width: rem(700);
  width: 100%;
  margin: rem(38) auto 0;
  @include mq('md') {
    margin-top: rem(23);
  }
}


.form__list--error input[type=text],
.form__list--error input[type=email],
.form__list--error input[type=tel],
.form__list--error select,
.form__list--error textarea {
  background-color: rgba(201, 72, 0, 0.2);
  border: rem(1) solid #C94800;
}
::placeholder {
  color: $white;
}

.contact-sub--error__btn {
  text-align: center;
  margin-top: rem(40);
}
