@use "global" as *;


.page-top a{
  position: fixed;
  bottom: rem(20);
  right: rem(20);

}


.page-top a::before {
  display: inline-block;
  content:"";
  background-image: url("../images/common/page-top.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(48);
  height: rem(48);
  transition : all 1.5s ease 0s;
  @include mq(md) {
    width: rem(80);
    height: rem(80);
    padding: 0;
    text-align: center;
  }
}

.page-top a:hover::before {
  background-image: url("../images/common/page-top-hover.svg");
  transition : all 1s ease 0s;
}

.page-top a:hover {
  @include mq(md) {
    opacity: 0.8;
  }
}

.page-top a img {
  @include mq(md) {
    width: rem(80);
  }
}