@use "global" as *;

.page404 {
  @include mq(md) {
  height: rem(700);
  }
  background-color: #408F95;
  padding-top: rem(90);
  position: relative;
}

.page404::before {
  content: "";
  display: inline-block;
  background-image: url(../images/common/404-pc.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(323);
  height: rem(293);
  position: absolute;
  top: 60%;
  transform: translate(-50%,-50%);
  left: 50%;
  @include mq(md) {
    width: rem(665);
    height: rem(594);
    top: 55%;
    left: 35%;
  }
}


.page404__block {
  color: #fff;
  text-align: center;
}

.page404__title {
  font-size: rem(80);
  font-family: $lato;
  font-weight: $regular;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  @include mq(md) {
    font-size: rem(160);
  }
}

.page404__btn {
  text-align: center;
  margin-top: rem(40);
}