@use "global" as *;

.sitemap {
  position: relative;
}

.sitemap::before {
  content: "";
  background-image: url(../images/common/select-fish-sp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(120);
  height: rem(55);
  position: absolute;
  top: rem(-30);
  left: calc(50% - min(40%, rem(250)));
  z-index: -50;
@include mq(md) {
  display: none;
}
}


.sitemap__nav {
  display: flex;
  gap: rem(16);
  margin-top: rem(30);
  justify-content: center;
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: rem(80);
    row-gap: rem(80);
  }
}

.sitemap__block {
  gap: rem(16);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: rem(80);
    row-gap: rem(80);
  }
}