@use "global" as *;

.sub-mv {
  position: relative;
  height: rem(460);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(md) {
    height: rem(548);
  }
}

.sub-mv.sub-mv--campaign {
  background-image: url(../images/common/page-campaign-mv-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/page-campaign-mv-pc.jpg);
}
}

.sub-mv.sub-mv--about-us {
  background-image: url(../images/common/about-us-sub__mv-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/about-us__sub-mv-pc.jpg);
  }
}

.sub-mv.sub-mv--information {
  background-image: url(../images/common/information-sub__mv-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/information-sub__mv-pc.jpg);
  }
}

.sub-mv.sub-mv--blog {
  background-image: url(../images/common/blog-sub__mv-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/blog-sub__mv-pc.jpg);
  }
}



.sub-mv__title {
  text-align: center;
  font-size: rem(40);
  color: white;
  position: absolute;
  top: 55%;
  transform: translate(-50%,-50%);
  left: 50%;
  font-family: $lato;
  font-weight: $regular;
  @include mq(md) {
    font-size: rem(80);
  }
}
