@use "global" as *;

.voice-cards {
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}

.voice-cards__item {
  margin-top: rem(40);
  @include mq(md) {
    max-width: rem(520);
    width: 100%;
    margin-top: 0;
  }
}