@use 'global' as *; 

/*wp-pagenavi 01*/
.wp-pagenavi {
	clear: both;
	text-align:center;
  margin-top: rem(80);
}
.wp-pagenavi a, .wp-pagenavi span {
  max-width: rem(38);
  width: 100%;
  height: 100%;
	display: inline-block;
  margin: 0 rem(3);
	color: #408F95;
	background-color: #fff;
	border: rem(1) solid #408F95;
	padding: rem(7) rem(12);
  font-family: $lato;
	white-space: nowrap;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
	@include mq(md) {
		margin: 0 rem(4);
	}
}
.wp-pagenavi a:hover{
  background-color: #408f95;
  color: #fff;
    }

.wp-pagenavi .first {
	margin-right: rem(32);
}

.wp-pagenavi .last {
	margin-left: rem(32);
}

.wp-pagenavi span.current{
	color: #FFF;
	background-color: #408F95;
	border-color: #408F95;
	font-weight: bold;
    }

.first {
  position: relative;
}

.first::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 42%;
  transform: rotate(45deg);
  border-bottom: rem(1) solid #408F95;
  border-left: rem(1) solid #408F95;
  width: rem(12);
  height: rem(12);
}

.first:hover:before {
  border-bottom: rem(1) solid #fff;
  border-left: rem(1) solid #fff;
}

.last {
  position: relative;
}

.last::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 30%;
  transform: rotate(225deg);
  border-bottom: rem(1) solid #408F95;
  border-left: rem(1) solid #408F95;
  width: rem(12);
  height: rem(12);
}

.last:hover::before {
  border-bottom: rem(1) solid #fff;
  border-left: rem(1) solid #fff;
}